@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

.paragraph{
    color: #5A5A5D ;
}
.head-line{
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

.home{
    color: #FF5400;
}


/*..............................................*/

.nav {
    height: 100px;
    width: 100%;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: Black;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
/*..............................................*/

.button{
    background-color: #FF5400;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border-color: #FF5400;

}

  
.banner-text{
    text-align: center;
    padding: 40px;
    margin-left: 50px;
}

.banner{
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

.form{
    display: inline-flex;
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.30); 
    border-radius: 8px;
    padding: 10px;

}

.input{
    
    padding: 5px;
    border-radius: 5px;
    border-block-style: none;
    gap: 10px;
}




/* General Styling*/

img{
    width: 100%;
    height: 100%;
}

.headline{
    text-align: center;
    padding: 0 40px 0 40px;
}
.Images{
    padding: 20px;
}

/*Second Section Styling*/

.second-section{
    display: flex;
    padding: 40px;
    height: 400px;
}
.second-text{
    width: 60%;
}
.second-image{
    width: 40%;
}

/*Third Section Styling*/
.section{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    padding: 0 40px 0 40px;
}

.image1{
    width:50%;
}

.image2{
    width: 50%;
}

.image3{
    width:30%;

}

.image4{
    width: 40%;
    
}

.image5{
    width:30%;
    
}

.image6{
    width: 60%;
}

.image7{
    width: 40%;
}

/*Fourth Section Styling*/
.fourth-section{
    padding: 40px;
    height: 400px;
}
.text-1{
    display: flex;
    gap: 20px;
    padding: 20px;

}
.hotels, .text-2{
    background: rgba(251, 181, 99, 0.05); 
    border-radius: 16px; 
    border: 1px rgba(251, 181, 99, 0.20) solid;
   
}

.World-Class-Service{
    background: rgba(41, 206, 246, 0.05); 
    border-radius: 16px; 
    border: 1px rgba(41, 206, 246, 0.20) solid;
    
}

.text-2{
    
    text-align: center;
    padding: 30px;
    
}

/*........................*/

/*sixth section styling*/
.sixth-section{
    display: flex;
    padding: 40px;
    
    margin-top: 50px;
   height: 400px;
}

.place-text{
    width: 60%;

}

.perfect-image{
width: 40%;
}

/*seventh section styling*/
.Seventh-Section{
    display: flex;
    padding: 40px;
    margin-top: 50px;
   height: 400px;
   gap: 50px;

}

.newsletter-text{
    width: 40%;
}

.newsletter-image{
    width: 60%;
}


.newsletter{
    display: flex;
    
}

.newsletter-text{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 16px;
    border: 1px #FF5400 solid;
    padding: 10px;
    
}

.save{
    text-align: center;
    width: 180px ; 
    height: 80px; 
    transform: rotate(-19.63deg); 
    transform-origin: 0 ;
    background: #FF5400; 
    border-radius: 16px;
    position: relative;
    left: 65%;
    top: -105px;

}

.form2{
    padding: 20px;
    flex-direction: column;
}


.in1, .in2{
    width: 90%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    background:rgba(19, 19, 24, 0.05); 
    border-style: none;
}

.in3{
    width:90%;
    background: #FF5400;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border-style: none;

}

.footer{
    width: 100%;
    height: 100%;

    background: rgba(19, 19, 24, 0.05);
}

.footer-text{
    text-align: center;
    margin: 0 auto;
    padding: 100px;
}

.horizontal-line{
    border-bottom: 1px solid rgba(19, 19, 24, 0.10) ;
    margin-top: 2px;
    width: 100%; 
}



/*Responsive for 600px*/



@media screen and (max-width: 600px){

    
    .banner{
        flex-direction: column;
        height: auto;
    }

    .banner{
        width: 100%;
        height: 100%;
    }

    .form{
        width: 100%;
        height: 100%;
    }
    .second-section{
        flex-direction: column;
        height: auto;
        gap: 50px;
    }
    
    .second-text, .second-image{
        width: 100%;
        height: 100%;
    }
    
    .section{
        flex-direction: column;
        height: auto;
    }
    .square-collage{
        grid-template-columns: 1fr;
    }

    .image1, .image2, .image3, .image4, .image5, .image6, .image7{
        width: 100%;
        height: 200px;
    }

    .second-section{
        flex-direction: column;
        height: auto;
    }

    .second-image, .second-text{
        width: 100%;
        height: 200px;
    }

    .text-1{
        flex-direction: column;
        height: auto;
    }
    
    .text-1{
        width: 100%;
        height: 300px;
    }

    .text-2{
        flex-direction: column;
        height: auto;
    }
    .text-2{
        width: 100%;
        height: 100px;
    
    }
    .sixth-section{
        margin-top: 200px;
        gap: 50px;
    }

   .sixth-section{
    flex-direction: column;
    height: auto;
   }

   .place-text{
    width: 100%;
    height: 100%;
   }
   .perfect-image{
    width: 100%;
    height: 100%;
   }

   .Seventh-Section{
    flex-direction: column;
    height: auto;

   }

   .newsletter-text{
    width: 100%;
    height: 100%;
   }

   .newsletter-image{
    width: 100%;
    height: 100%;
}

/*...................................*/

.nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(171, 202, 228, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color:  rgba(171, 202, 228, 0.3);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .save{
    width: 35%;

  }
}









